.swiper-button-next,
.swiper-button-prev {
  background-color:transparent;
  border:0;
  top:40%;
}

.swiper-button-prev {
  left:25px;
}

.swiper-button-next{
  right:25px;
}

.pe1, .pe2{
  background: #E5EAEF; /* fallback color for old browsers */
  background: rgba(224, 218, 218, 0.5);
  color: #00295F;
  text-align: center;
  transition: all 0.3s ease-out;
  border-radius: 100%;
  font-size: 45px;
}

@media only screen and (max-width: 600px) {
  .swiper-button-next,
.swiper-button-prev {
 display:none;
}
}